<form action="{% url 'person:update' %}" method="post">
  {% csrf_token %}
  {{ user_form.as_p }}
  {{ person_form.as_p }}
  <button type="submit">Update changes</button>
</form>
<div>
  <a href="{% url 'garage:available' %}">Available Vehicles</a>
  <a href="{% url 'garage:index' %}">My Garage</a>
</div>
<div><a href="{% url 'logout' %}">Logout</a></div>
