<h2> Available Vehicles </h2>
<a href="{% url 'garage:index' %}">My Garage</a>
<a href="{% url 'person:index' %}">My Config</a>
{% for vehicle in available_vehicles %}
<p>Vehicle: {{ vehicle.id }} </p>
<ul>
  <li>Model: {{ vehicle.model }}</li>
  <li>Type: {{ vehicle.v_type }}</li>
  <li>Brand: {{ vehicle.brand }}</li>
  <li>Color: {{ vehicle.color }}</li>
  <li>Manufactured year: {{ vehicle.manufactured_year }}</li>
</ul>
<a href="{% url 'vehicle:addgarage' vehicle.id %}">Add to garage</a>
{% endfor %}

