<h2>My Garage</h2>
<a href="{% url 'garage:available' %}">Available vehicles</a>
<a href="{% url 'person:index' %}">My Config</a>

{% for vehicle in garage_vehicles %}
<p>Vehicle: {{ vehicle.id }} </p>
<ul>
  <li>Model: {{ vehicle.model }}</li>
  <li>Type: {{ vehicle.v_type }}</li>
  <li>Brand: {{ vehicle.brand }}</li>
  <li>Color: {{ vehicle.color }}</li>
  <li>Manufactured year: {{ vehicle.manufactured_year }}</li>
</ul>
<a href="{% url 'vehicle:removegarage' vehicle.id %}">Remove from garage</a>
{% endfor %}

